@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --accent: #3c83fe;
  --accent2: #999bb8;
  --danger: #d10014;
  --dark: #272838;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: var(--dark);
}
